body {
  background-image: url(../img/brown-pattern.jpg);
  background-color: #331811;
}

h1, .jumbotron h1 {
  font-family: cursive;
  color: #e0d0c7;
  text-align: center;
  margin-bottom: 20px;
}

p {
    font-size: 20px;
    color: #dbc1b3;
    padding-top: 10px;
}

h3 {
  color: #ada39d;
}

button {
  margin-left: 305px;
}

a {
  color: #84350a;
  font-style: italic;
}

a:hover {
  color: #e8d4c9;
}

input#numberInput {
  background-color: #d3c1b8;
}

.jumbotron h3 {
   font-family: sans-serif;
   text-align: center;
   color: #d3c1b8;
 }

.jumbotron, .well {
  background-color: #202120;
  border: 2px solid #301b10;

}

#result {
  text-align: center;

}

label, h2 {
  color: #d3c1b8;
}

.footer {
  text-align: center;
  margin-top: 10px;
}
